<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
    <script defer src="../public/index.js" ></script>
    <title>Burn Up The Week</title>
</head>
<body>
    <nav>
        <ul id="topLinks"> 
             <li><a href="/profile">Hello </a></li>
             <li><a href="/index">Schedule Exercises</a></li>
             <li><a href="/logout/">Logout</a></li>
            
        </ul>
    </nav>
    <h1 id="pageTitle">Burn Up The Week</h1>

    <form id="completeExerciseForm" method="POST" action="/checkComplete">
        <h3 class="daysExercisesTitle">Exercises</h3><br>
        ${result.map(r => `
            <p><b>${r.name}</b></p>
            <p>${r.description}</p>
            <hr>
        `).join('')}
    </form> 
    <form id="checkCompleteForm" method="POST" action="/completeExercise">           
        <button id="checkCompleteButton" name="Completed" type="submit" onclick="submitWorkout()">Mark Completed</button>
    </form>

</body>
</html>