<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
    <script defer src="../public/index.js" ></script>
    <title>Burn Up The Week</title>
</head>
<body>
    <nav>
        <ul id="topLinks">
             <li><a href="/profile">Hello </a></li>
             <li><a href="/complete">Complete Exercises</a></li>
             <li><a href="/logout/">Logout</a></li>
        </ul>
    </nav>
    <h1 id="pageTitle">Burn Up The Week</h1>

    <form id="weekSearchForm" style.display="none">
       
        <input type="submit" value="Week Search">
    </form>

    <div class="container" id="exercise-tiles">
        <h3 id="exerciseTitle">Exercises</h3>
        ${result.map(r => `
            <div class="draggable"  draggable="true"><p>${r.name} ${r.calories_amount} Calories</p>
            <input  type="hidden" name="workout_id" value="${r.workout_id}"></input>
            <input  type="hidden" name="calories_amount" value="${r.calories_amount}" ></input>
       </div>
        `).join('')}
    </div>
    
    <div id="mon-thur-row">
       <form class="container" id="mondayBox" method="POST" action="/submitworkout">
       <h3 class="boxLabel">Monday</h3><br>
        <input  type="hidden" name="weekday" value="Monday" ></input>
        <input type="date" id="start" name="date_schedule" value=" " min="2021-01-01" max="2021-12-31">
        <input type="submit" onclick="submitWorkout()">
      </form> 
    
      <form class="container" id="tuesdayBox" method="POST" action="/submitworkout">
        <h3 class="boxLabel">Tuesday</h3><br>
         <input  type="hidden" name="weekday" value="Tuesday" ></input>
         <input type="date" id="start" name="date_schedule" value=" " min="2021-01-01" max="2021-12-31">
         <input type="submit" onclick="submitWorkout()">
       </form> 
       <form class="container" id="wednesdayBox" method="POST" action="/submitworkout">
        <h3 class="boxLabel">Wednesday</h3><br>
         <input  type="hidden" name="weekday" value="Wednesday" ></input>
         <input type="date" id="start" name="date_schedule" value=" " min="2021-01-01" max="2021-12-31">
         <input type="submit" onclick="submitWorkout()">
       </form> 
       <form class="container" id="thursdayBox" method="POST" action="/submitworkout">
        <h3 class="boxLabel">Thursday</h3><br>
         <input  type="hidden" name="weekday" value="Thursday" ></input>
         <input type="date" id="start" name="date_schedule" value=" " min="2021-01-01" max="2021-12-31">
         <input type="submit" onclick="submitWorkout()">
       </form> 
    </div>
    <div id="fri-sun-row">
        <form class="container" id="fridayBox" method="POST" action="/submitworkout">
            <h3 class="boxLabel">Friday</h3><br>
             <input  type="hidden" name="weekday" value="Friday" ></input>
             <input type="date" id="start" name="date_schedule" value=" " min="2021-01-01" max="2021-12-31">
             <input type="submit" onclick="submitWorkout()">
           </form> 
           <form class="container" id="saturdayBox" method="POST" action="/submitworkout">
            <h3 class="boxLabel">Saturday</h3><br>
             <input  type="hidden" name="weekday" value="Saturday" ></input>
             <input type="date" id="start" name="date_schedule" value=" " min="2021-01-01" max="2021-12-31">
             <input type="submit" onclick="submitWorkout()">
           </form> 
           <form class="container" id="sundayBox" method="POST" action="/submitworkout">
            <h3 class="boxLabel">Sunday</h3><br>
             <input  type="hidden" name="weekday" value="Sunday" ></input>
             <input type="date" id="start" name="date_schedule" value=" " min="2021-01-01" max="2021-12-31">
             <input type="submit" onclick="submitWorkout()">
           </form> 
    </div>
   
    
</body>
</html>