<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
    <script src="/index.js" defer></script>
    <title>Burn Up The Week</title>
</head>
<body>
    <h1 id="pageTitle">Burn Up The Week</h1>

    <form id="weekSearchForm">
        <input type="text" id="weekSearch" name="weekSearch"><br>
        <input type="submit" value="Week Search">
    </form>

    <div class="container" id="exercise-tiles">
        <h3 id="exerciseTitle">Exercises</h3>
        <p class="draggable" draggable="true">Exercise1</p>
        <p class="draggable" draggable="true">Exercise2</p>
        <!-- Need to add exercises here dynamically based on how many in db, like we did with drinks -->
    </div>
    <div id="mon-thur-row">
        <div class="mon-thur-box container" id="mondayBox">
            <input id="workoutCheckMonday" type="checkbox" onclick="calculateTotal('mondayBox')"/>
            <h3 class="boxLabel">Monday</h3>
        </div>
        <div class="mon-thur-box container" id="tuesdayBox">
            <input id="workoutCheckTuesday" type="checkbox" onclick="calculateTotal('tuesdayBox')"/>
            <h3 class="boxLabel">Tuesday</h3>
        </div>
        <div class="mon-thur-box container" id="wednesdayBox">
            <input id ="workoutCheckWednesday" type="checkbox" onclick="calculateTotal('wednesdayBox')"/>
            <h3 class="boxLabel">Wednesday</h3>
        </div>
        <div class="mon-thur-box container" id="thursdayBox">
            <input id ="workoutCheckThursday" type="checkbox" onclick="calculateTotal('thursdayBox')"/>
            <h3 class="boxLabel">Thursday</h3>
        </div>
    </div>
    <div id="fri-sun-row">
        <div class="fri-sun-box container" id="fridayBox">
            <input id ="workoutCheckFriday" type="checkbox" onclick="calculateTotal('fridayBox')"/>
            <h3 class="boxLabel">Friday</h3>
        </div>
        <div class="fri-sun-box container" id="saturdayBox">
            <input id ="workoutCheckSaturday" type="checkbox" onclick="calculateTotal('saturdayBox')"/>
            <h3 class="boxLabel">Saturday</h3>
        </div>
        <div class="fri-sun-box container" id="sundayBox">
            <input id ="workoutCheckSunday" type="checkbox" onclick="calculateTotal('sundayBox')"/>
            <h3 class="boxLabel">Sunday</h3>
        </div>
    </div>
    <div id="fri-sun-row">Week Total</div>
    <!-- whenever check box is clicked or unclicked need to calculate total -->
    <script src="../index.js"></script>
</body>
</html>