
.draggable{
    background-color: cadetblue;
    border: 1px solid black;
    cursor:move;
}
.draggable.dragging{
    opacity: .5 ;
}

#weekSearchForm{
    margin-left: 50%; 
    display: none;
}
#mon-thur-row{
    width:800px;
    min-height: 250px;
    height: max-content;
    border-style: solid;
    border-color: black;
    margin-left: 20%;
    margin-top: 1%;
    display: flex;
}
/* .mon-thur-box{
    width:200px;
    height: 250px;
    border-style: solid;
    border-color: black;
} */
 .container{
    width:200px;
    min-height: 250px;
    height: max-content;
    border-style: solid;
    border-color: black;
} 

#fri-sun-row{
    /* padding-left:9%; */
    width:600px;
    min-height: 250px;
    height: max-content;
    border-style: solid;
    border-color: black;
    margin-left: 20%;
    margin-top: 2%;
    display: flex;
}
.fri-sun-box{
    width:200px;
    min-height: 250px;
    height: max-content;
    border-style: solid;
    border-color: black;
}
.boxLabel{
    padding-left: 20%;
}
#pageTitle{
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 3%;
}
#exercise-tiles{
    width:200px;
    /* height: 400px; */
    height: max-content;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin-top: 2%;
    float: left;

}
#weekTotal{
    margin-right: 30%;
    float: right;
    margin-top: -5%;
}
#exerciseTitle{
    padding-left: 20%;
}
h3{
    background-color: dodgerblue;
}
.daysExercisesTitle{
    padding-left: 15%;
}

#completedButton{
    margin-bottom: 2%;
}
#completeExerciseForm{
    display: flex;
    width: 200px;
    height: max-content;
    flex-direction: column;
    margin-left: 9%;
}

#topLinks{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


#topLinks a{
    margin-left:3%;
    text-decoration: none;
    padding-right: 10px;
    list-style-type: none;

}

